/* Styles for index.html */

/* Base Styles */
*{
    margin: 0;
    padding: 0;
}
/* Styling container */
#container{

    min-height:600px;
    display:block;
    max-width: 760px;
    width: 80%;
    background-color: #aaa;
    margin: 20px auto;
    border: 10px solid #fc3;
    padding: 10px;
    text-align: center;
    box-sizing:border-box;
}

/* Styling h1 */
h1{
    color: #db4e3e;
    background-color: #373737;
    padding: 10px;
    margin:5px 0 10px;
    font-family:Helvetica, Arial, sans-serif;
}
/* Styling input */
input{
    padding:5px;
    border:solid 1px #454545;
    border-radius:5px;
    outline: none;
    margin-right:5px;
}
/* Styling buttons */
.button{
    outline:none;
    color: #fff;
    padding:5px;
    text-transform: capitalize;
    border: none;
    font-family: Monaco, monospace;
    border-radius:5px;
    margin:10px 5px 0;
    background-color: #1a71b8;
}
/* Styling form fields */
#form-fields{
    margin: 15px 0;
}
/* Styling li's */
ul li {
    list-style: none;
    display:inline-block;
}
/* Styling boxes */
.box{
    width: 230px;
    height: 230px;
    line-height: 230px;
    background: #fff;
    color: #000;
    border: 3px solid #00c6a0;
    border-top-left-radius:35px;
    border-bottom-right-radius:35px;
    margin: 10px;
    text-align: center;
    box-shadow: 10px 10px 15px #333;
    font-family: Georgia, Times, serif;
}
/* Styling background for boxes */
.divisibility-background{
    background-color:  #1b4e5e;
}

.perfect-square-background{
    background-color: #1a71b8;
}

.prime-number-background{
    background-color:#fc3fc3;
}